@import url("/node_modules/@fortawesome/fontawesome-free/css/all.min.css");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #279989;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  flex: 1;
}

nav > ul {
  display: flex;
  list-style: none;
  font-size: 11px;
}

a {
  color: inherit;
  margin-right: 4px;
  text-decoration: none;
}

header > h1 {
  font-size: 18px;
}

.control-elements {
  background-color: #44a080;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 11px;
  flex: 1;
}

i {
  color: white;
}
